* {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  /* border: 2px solid rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  position: static;
  margin: 16px 12px;
  gap: 10px;
}

#container {
  box-sizing: border-box;
  width: 100%;
  height: 700px;
  /* border: 2px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: space-evenly;
  padding: 10px 70px;
  margin-bottom: 100px;
}

#container>div {
  /* border: 5px solid teal; */
  display: flex;
  /* gap: 10px; */
}

#containerchild2 {
  width: 40%;
  position: relative;
}

#containerchild1 {
  width: 60%;
  position: relative;
  padding: 50px;
  /* background-color: rgb(138, 235, 28); */
}

#textarea {
  line-height: 30px;
  word-spacing: 5px;
  /* letter-spacing: 1px; */
  width: 100%;
  /* background-color: rgb(226, 166, 166); */
  margin: auto;
}

#textarea>p {
  font-size: 20px;
  color: #4c527D;
}

#textarea>h1 {
  font-size: 40px;
  line-height: 50px;
  color: #1c1e2e;
}

.buttonArea>button {
  padding: 14px 40px;
  border-radius: 35px;
}

#btn1 {
  background-color: #ed6524;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 163px;
}

#btn2 {
  background-color: #ffffff;
  color: #ed6524;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #ed6524;
  width: 163px;
}

#containerchild2>img {
  height: 725px;
}

#comment1 {
  background-color: #f5f8fc;
  padding: 1.5rem;
  margin: 0 0 1rem;
  border-left: 4px solid #f5a782;
  font-style: italic;
  line-height: 25px;
}

.data>img {
  height: 60px;
  width: 60px;
}

.data {
  display: flex;
  gap: 20px;
  line-height: 30px;
}

.datatext>p {
  color: #6f75a7;
}

.book-wrapper {
  position: relative;
  display: inline-block;
}

.book-wrapper img {
  display: block;
  height: 725px;
}

.bookbatch {
  width: 120px;
  height: 90px;
  padding-top: 35px;
  font-size: 1.45rem;
  position: absolute;
  top: 0;
  right: 0;
  background: #5cb377;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  line-height: 1;
  font-weight: bold;
  transform: translate(-10%, -30%);
}

/* ----------------------------------------------Second Part--------------------------------- */

.second-container {
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
  margin: auto;
  background: #f6fcf8;
}

.content {
  width: 90%;
  /* border: 5px solid red; */
  margin: 100px auto;
}

.content>h1 {
  font-size: 40px;
  text-align: center;
  color: #1c1e2e;
  padding:20px;
}

.content > .writingtext{
  font-size: 1.2rem;
  text-align: center;
  color: #4c527D;
  margin: auto;
  /* border: 2px solid blue; */
  max-width: 760px;
}

.boxArea{
  margin: 50px;
  text-align: center;
  /* border: 10px solid purple; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.boxArea > .box{
  /* border: 5px solid orange; */
  text-align: center;
}

.item-icon > i{
  font-size: 3rem;
  color: #ed6524;
  padding: 20px;
}

.box > h3 {
  padding-bottom:15px;
}

.box > .item-des{
  padding-bottom: 15px;
  color: #4c527d;
}

/* ------------------------third container------------- */

.third-container{
  /* width: 100%; */
  /* height: auto; */
  /* border: 12px solid rgb(255, 0, 0); */
   background: #f6fcf8;
   padding-bottom: 100px;
}
.third-container > h1{
  text-align: center;
  letter-spacing: 2px;
  font-size:50px;
  /* border: 2px solid black; */
  padding: 25px 0;
  margin:50px 0 ;
}
.tab-container{
  width: 50%;
  height: auto;
  /* border: 5px solid blue; */
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.phone-img > img{
  max-width:400px;
  height: auto;
  /* border: 2px solid red; */
}

li{
  margin:25px;
}

.phnBtn > button {
  padding:0.875rem 2.5rem;
  background: #ed6524;
  color: #f6fcf8;
  border-radius:2rem;
  border: none;
  font-weight: 600;
  margin:30px;
}

.phone-textarea{
  /* border: 2px solid black; */
  text-align: center;
  margin: auto;
}

/* ----------------------------------------------fourth Part--------------------------------- */

.fourth-container{
  /* width: 100%; */
  /* border: 5px solid red; */
  background: #ffffff;
}

.main-box{
  width: 80%;
  height: 600px;
  /* border: 2px solid rgb(0, 0, 0); */
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
}

.main-box > h2{
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  /* border: 2px solid blue; */
  margin: 0 0 24px 0;
  padding: 10px;
}

.small-text > p {
  text-align: center;
  /* border: 2px solid red; */
  width: 61%;
  margin: auto;
  font-size: 20px;
}

.tickmen{
  padding-top:10px;
  /* border:2px solid blue; */
  width:39%;
  margin: auto;
}

.tickmen > ul > li > p{
  /* border: 2px solid red; */
  margin:10px 0;
}

.tickmen > ul > li > h4{
  font-size: 18px;
   color: #5cb377;
}

/* ----------------------------------------------fifth Part--------------------------------- */

.searchbox{
  width: 50%;
  background: #f6fcf8;
  /* border: 5px solid black; */
  padding: 48px;
  margin: auto;
}

.searchbox > h2{
  text-align: center;
  font-size: 32px;
  margin-bottom:8px;
}

.searchbox > h2 + div{
  width: 60%;
  text-align: center;
  font-size: 16px;
  color: #4c527D;
  margin: auto;
  margin-bottom: 16px;
  /* border: 2px solid blue; */
  line-height:20px;
}

.emailbox{
  /* border: 2px solid blue;  */
  text-align: center;
}


.emailbox > input{
  padding: 14px 12px;
  background: #fff;
  width: 70%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.emailbtn{
  color: white;
  width: 20%;
  font-size: 16px;
  background: #ed6524;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  margin: 0 0 0 10px;
  cursor: pointer;
}


/* -------------------------sixthpart-----------------  */

/* .review-mainBox{
  /* width: 100%; */
  /* border:5px solid red; */
 /* }  */ 

.reviewbox{
  width:90%;
  /* height: 600px; */
  /* border: 5px solid rgb(0, 0, 0); */
  margin: auto;
  margin-top: 50px;
}

.reviewbox > h2{
  font-size: 40px;
  text-align: center;
}

.reviewbox > div {
  text-align: center;
  font-size: 20px;
  color: #4c527d;
  margin: 10px 0 25px 0;
}

.main-peoplebox {
  padding: 20px;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.bottom-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.peopleboxrow{
  /* border: 2px solid red; */
  width: 26%;
  border-radius: 8px;
  background-color:#f6f8fc;
  margin: 10px;
  padding: 30px;
}

.peoplebox {
  background-color:#f6f8fc;
  /* border: 2px solid blue; */
  border-radius: 8px;
  margin: 10px;
  padding: 30px;
}

.comments2{
  font-style: italic;
  margin: 0 0 1rem;
  /* border: 2px solid rgb(8, 112, 20); */
  text-align: left;
  font-size: 16px;
  padding: 0%;
  box-sizing: border-box;
}

.book-review-data{
  display: flex;
  justify-content:space-around;
}
.book-datatext{
  /* border: 2px solid blue; */
  text-align: center;
  padding:10px 20px 0 35px;
  margin: 0 20px ;
  font-size: 14px;
}
.book-review-data{
  /* border: 2px solid black; */
  padding: 10px;
  text-align: left;
}

.book-review-data > img {
  width: 60px;
  /* border: 2px solid red; */
}

.btn3{
  color: white;
  background-color: #ed6524;
  font-weight: bold;
  border-radius: 25px;
  padding:15px 30px;
  border: none;
  text-align: center;
  cursor: pointer;
}

/* ---------------------------------------- final part -------------------------- */

 /* .lastpart{
  /* height: 800px; */
  /* border: 5px solid black; */
/* } */ 


.biopart{
  /* height: 700px; */
  color: #fff;
  background: #ed6524;
  padding: 3rem 0;
}

.authorBio{
  width:50%;
  /* border: 5px solid white; */
  padding: 1rem 0;
  margin-left: auto;
  margin-right: auto;
}

.author-img{
  /* border: 2px solid black; */
  text-align: center;
  margin-bottom: 3rem;
}

.author-img > img{
  width: 150px;
  height: 150px;
}

.abt-author{
  text-align: center;
  font-size:38px;
  margin-bottom: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.para1, .para2{
  /* border: 2px solid black; */
  font-size:18px;
  margin-bottom: 1rem;
  line-height:25px;
}

.author-links{
  text-align: center;
  /* border: 5px solid rgb(5, 255, 155); */
}

.author-links > h5{
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  /* border: 5px solid black; */
}

.social-list-link{
  /* border: 5px solid blue; */
  display: flex;
  justify-content: center;
  color: white;

}

.social-list-link > li{
  border: 2px solid rgb(0, 0, 0);
  font-size:1.75rem;
  background:rgba(118, 113, 113, 0.651);
  border-radius:50%;
  padding: 5px;
  border-style: none;
  padding:5px;
  margin:8px;
}

.social-list-link > li > a > i{
  color: white;
}

.footer {
  height: 100px;
  /* border: 5px solid blue; */
  display: flex;           
  justify-content: center;    
  align-items: center;        
}

.footer > small {
  /* border: 2px solid red;       */
  color: #4c527d;
  font-size:0.9rem;
  text-align: center;         
  padding: 0;                 
}

.footer > small > a {
  color: #4c527d;
  text-decoration: none;
}

.footer > small > a:hover{
  color: red;
}
